{{ define "main" }}
<article>
    <div class="container">
        <div class="row">
            <!-- Post Container -->
            <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12 post-container">
                <div style="border-left: 4px solid #2c5530; padding-left: 15px; margin-bottom: 20px;">
                    <h1>{{ .Title }}</h1>
                    <p class="text-muted">
                        <i class="fa fa-calendar"></i> {{ .Date.Format "02.01.2006, 15:04" }} Uhr
                        {{ with .Params.location }}
                        <br><i class="fa fa-map-marker"></i> {{ . }}
                        {{ end }}
                    </p>
                </div>

                {{ if .Params.tags }}
                <div style="margin: 20px 0;">
                    {{ range .Params.tags }}
                    <span class="label" style="background-color: #2c5530; margin-right: 5px;">{{ . }}</span>
                    {{ end }}
                </div>
                {{ end }}

                {{ .Content }}

                <hr>
                <p><a href="/rueckblick/">← Zurück zu den Terminen</a></p>
            </div>

            {{ partial "sidebar.html" . }}
        </div>
    </div>
</article>
{{ end }}